/*--------------------------------------------------------*/
/*                Front - Guilherme Miranda               */
/*--------------------------------------------------------*/

@font-face {
	font-family: bebas;
	src: url(../fonts/bebas.otf);
}

@media (min-width: 992px){
	.justify-content-center{
		display: flex;
		justify-content: center;
	}

	.align-center{
		display: flex;
		align-items: center;
	}
}

/*--------------------------------------------------------*/
/*                Login - Guilherme Miranda               */
/*--------------------------------------------------------*/

#login-screen{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: url('../image/back-login.jpg');
	background-size: cover;
	background-position: 0% 70%;
}

#login-screen input{
	border-color: rgba(255,255,255,.5);
	border-top-color: transparent;
	box-shadow: none;
	border-radius: 0;
	background-color: rgb(113, 182, 224);
	color: white;
	font-weight: 700;
	box-shadow: 0 3px 2px 0 rgba(0,0,0,.1);
}

#login-screen label{
	color: white;
	font-weight: 200;
}

#login-screen .btn{
	background-color: #71b6e0;
	border: 2px solid white;
	border-radius: 0;
	width: 100%;
	margin: 5px;
	box-shadow: 0 3px 2px 0 rgba(0,0,0,.1);
}

#login-screen .btn-link{
	color: white;
}

#login-screen .btn-link:hover{
	background-color: white;
	color: #71b6e0;
}

#login-screen .panel{
	padding: 2em;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
	font-family: bebas;
}

#login-screen .panel h1{
	font-weight: 900;
	font-size: 28pt;
	color: #71b6e0;
}

#login-screen .panel p{
	font-weight: 200;
	font-family: sans-serif;
	font-size: 10pt;
}

#login-screen .button-group{
	display: flex;
	justify-content: center;
}

#login-screen .img-fluid{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2em;
}

#login-screen .img-fluid img{
	width: 100%;
	max-width: 200px;
}

/*--------------------------------------------------------*/
/*               Sidebar - Guilherme Miranda              */
/*--------------------------------------------------------*/

.navbar {
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}

i, span {
	display: inline-block;
}

a{
	text-transform: none;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

/* ---------------------------------------------------
SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
	display: flex;
	align-items: stretch;
}

#sidebar {
	min-width: 250px;
	max-width: 250px;
	background: #297fb9;
	color: #fff;
	transition: all 0.3s;
	min-height: 100vh;
	position: fixed;
}

#sidebar.active {
	min-width: 80px;
	max-width: 80px;
	text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
	display: none;
}

#sidebar.active .sidebar-header strong {
	display: block;
}

#sidebar ul li a {
	text-align: left;
	color: white;
}

#sidebar.active ul li a {
	padding: 20px 10px;
	text-align: center;
	font-size: 0.85em;
}

#sidebar.active ul li a i {
	margin-right:  0;
	display: block;
	font-size: 1.8em;
	margin-bottom: 5px;
}

#sidebar.active ul ul a {
	padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
	top: auto;
	bottom: 5px;
	right: 50%;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
}

#sidebar .sidebar-header {
	padding: 5px;
	background: #065a92;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#sidebar .sidebar-header strong {
	display: none;
	font-size: 1.8em;
}

#sidebar ul.components {
	padding: 20px 0;
}

#sidebar .components li > a{
	border-left: 4px solid #297fb9;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 11pt;
	display: block;
}
#sidebar .components li a:hover {
	color: white;
	background: #065a92;
	border-left: 4px solid #FFC608;
}
#sidebar ul li a i {
	margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
	color: #fff;
	background: #065a92;
	border-left: 4px solid #FFC608;
}


a[data-toggle="collapse"] {
	position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
	content: '\f107';
	display: block;
	position: absolute;
	right: 20px;
	font-family: 'FontAwesome';
	font-size: 1em;
}
a[aria-expanded="true"]::before {
	content: '\f106';
}


ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #065a92;
}

.list-inline-item i{
	margin: 0 !important;
}

.list-inline-item i:hover{
	color: #FFC608;
}

.perfil{
	background-color: black;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	overflow: hidden;
}



/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */
#content {
	min-height: 100vh;
	transition: all 0.3s;
	background-color: rgb(233, 236, 239);
}


/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
	#sidebar {
		min-width: 80px;
		max-width: 80px;
		text-align: center;
		margin-left: -80px !important ;
	}
	a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
		top: auto;
		bottom: 5px;
		right: 50%;
		-webkit-transform: translateX(50%);
		-ms-transform: translateX(50%);
		transform: translateX(50%);
	}
	#sidebar.active {
		margin-left: 0 !important;
	}

	#sidebar .sidebar-header h3, #sidebar .CTAs {
		display: none;
	}

	#sidebar .sidebar-header strong {
		display: block;
	}

	#sidebar ul li a {
		padding: 20px 10px;
	}

	#sidebar ul li a span {
		font-size: 0.85em;
	}
	#sidebar ul li a i {
		margin-right:  0;
		display: block;
	}

	#sidebar ul ul a {
		padding: 10px !important;
	}

	#sidebar ul li a i {
		font-size: 1.3em;
	}
	#sidebar {
		margin-left: 0;
	}
	#sidebarCollapse span {
		display: none;
	}
}

/* ---------------------------------------------------
NOTIFICAÇÕES
----------------------------------------------------- */
.circle{
	border-radius: 50%;
	width: 8px;
	height: 8px;
	position: absolute;
	top: 13px;
	right: 7px;
	background-color: red;
}

.menu-notificacoes{
	position: absolute;
	top: 140px;
	left: 130px;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: .5rem 0;
	margin: .125rem 0 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .25rem;
}

/* this CS forms the triangles */
.menu-notificacoes:after,
.menu-notificacoes:before {
	content: '';
	display: block;
	position: absolute;
	left: -20px;
	width: 0;
	height: 0;
	border-style: solid;
}

/* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
.menu-notificacoes:after {
	top: 10px;
	border-color: transparent #fff transparent transparent;
	border-width: 10px;
}

/* this border color controlls the outside, thin border */
.menu-notificacoes:before {
	top: 9px;
	border-color: transparent rgba(0,0,0,.15) transparent transparent;
	border-width: 10px;
}

.overlay-notificacoes{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: transparent;
	top: 0;
	left: 0;
	z-index: 800;
	display: none;
}

/*--------------------------------------------------------*/
/*               Conteúdo - Guilherme Miranda             */
/*--------------------------------------------------------*/
.card-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.actions{
	display: flex;
	justify-content: center;
}

.actions a{
	margin: 5px;
}

#PF_cpf{
	display: none;
}

select, input:not([type=radio],[type=checkbox]){
	height: 40px;
}

.btn-novo{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,.2);
	cursor: pointer;
	position: fixed;
	bottom: 30px;
	right: 30px;
}

.menu-novo{
	display: none;
	position: absolute;
	top: 210px;
	left: 210px;
}

.menu-novo ul{
	list-style: none;
	background-color: white;
	box-shadow: 0 0 8px 0 rgba(30,30,30,0.3);
	padding: 0;
}

.menu-novo ul a{
	color: rgb(120,120,120);
	text-decoration: none;
}

.menu-novo ul li{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 !important;
}

.menu-novo ul li:hover{
	background-color: rgb(220,220,220);
}

.menu-novo hr{
	margin-bottom: 0px;
	margin-top: 0px;
}

.menu-propriedades{
	display: none;
	position: absolute;
	top: 210px;
	left: 210px;
}

.menu-propriedades ul{
	list-style: none;
	background-color: white;
	box-shadow: 0 0 8px 0 rgba(30,30,30,0.3);
	padding: 0;
}

.menu-propriedades ul a{
	color: rgb(120,120,120);
	text-decoration: none;
}

.menu-propriedades ul li{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 !important;
}

.menu-propriedades ul li:hover{
	background-color: rgb(220,220,220);
}

.menu-propriedades hr{
	margin-bottom: 0px;
	margin-top: 0px;
}

.arquivos{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.arquivos a{
	text-decoration: none;
}

.arquivos p{
	color: black;
}

.clicked-file{
	color: rgb(0,53,88);
}

.renomear_input{
	height: 30px !important;
	display: none;
}

.escopo-pastas{
	flex-direction: column;
	flex-wrap: nowrap;
}

.breadcrumb{
	background-color: #297fb9;
	
}

.breadcrumb a{
	color: white !important;
}

.breadcrumb li{
	color: rgba(255,255,255,.8) !important;
}

.arquivos p{
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.arquivos span{
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.select2-selection--multiple .select2-search--inline .select2-search__field { width: auto !important; }

.selection{
	width: 100%;
}

.form-check{
	font-weight: normal;
	display: flex;
	align-items: center;
}

.table-scroll-permissao{
	max-height: 400px;
	overflow-y: scroll;
}

.permissao_toggle{
	cursor: pointer;
}

/*--------------------------------------------------------*/
/*               Loader - Guilherme Miranda     	       */
/*--------------------------------------------------------*/

.loader-overlay{
	background-color: rgba(255,255,255,.7);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 999999999999;
	justify-content: center;
	align-items: center;
	display: none;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


.header{
	background-color: #297fb9;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}