
/* Dropdown Button */
.dropbtn {
  /*background-color: #4CAF50; */
  color: #297fb9;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ccc;
  min-width: 140px;
  box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px 7px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #297fb9}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  /*background-color: #3e8e41;*/
}
body {
  -webkit-print-color-adjust: exact;
}
.fundo{
  background-image:url(https://s3.us-east-1.amazonaws.com/soged-arq/empresas/4/4p34/TEMPLATES/FundoDocSoitic02.png); background-size:100% 1000px;
}

.busca[type=text] {
  width: 13px;
  box-sizing: border-box;
  border:0;
  outline: none;

  font-size: 16px;
  background-color: #297fb9;
  background-image: url('https://www.w3schools.com/howto/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 10px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  float:right;
}

.busca[type=text]:focus {
  width: 300px;
  border-top: 0;
  border-right:0;
  border-left:0;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.transparente{
  border-top:0px solid #fefefe;
  border-bottom:0px solid #fefefe;
  border-left:0px solid #fefefe;
  border-right:0px solid #fefefe;
  background:none;
  color: #fff;
  text-overflow: ellipsis;
}
